@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:root {
  --White: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--light-gray);
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

body p {
  font-size: 15px;
}

img {
  width: 100%;
}

.container {
  display: flex;
  
  background: var(--White);
  max-width: 375px;
  margin: auto 0;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 12px 12px 12px 1px rgba(5, 176, 255, 0.1);
}

.container h1 {
  color: var(--dark-blue);
  margin-top: 15px;
  font-size: 1.7rem;
}

.container p {
  color: var(--grayish-blue);
  margin-top: 15px;
  padding-bottom: 15px;
}

.container img {
  border-radius: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
